/* explore btn */
.explore-button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: white;
  color:  black;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.25rem 1rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.explore-button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: white;
  background-color: black;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.explore-button:hover {
  background-color: #000;
  color:  #d1d5db;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.explore-button:hover .explore-button__icon-wrapper {
  color: white;
  background-color: black;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.explore-button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.explore-button:hover .explore-button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.explore-button:hover .explore-button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
