*{
  scroll-behavior: smooth !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the html and body stretch to full screen */
  background-color: #000000;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: #000000; /* Your desired background color */
}

.col-2-5 {
  flex: 0 0 20.833333%; /* Equivalent to 2.5/12 * 100 */
  width: 20.833333%;
}

.card-header {
  background-color: #181818;
  border: 1px solid #181818;
}
.card-footer {
  background-color: #181818;
  border: 1px solid #181818;
}
.card-body {
  backdrop-filter: blur(0px) saturate(52%);
  -webkit-backdrop-filter: blur(0px) saturate(52%);
  background-color: rgba(194, 202, 207, 0.2);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.divider-line {
  border: 1.2px solid #ffffff;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Glassmorphism card effect */
.intro-header {
  height: 30vh !important;
}

.box-shadow {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 5px rgba(255, 255, 255, 0.5),
    0 0 8px rgba(255, 255, 255, 0.7), 0 0 12px rgba(255, 255, 255, 0.9);
}

.secondary-box-shadow {
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 3px rgba(255, 255, 255, 0.5),
    0 0 5px rgba(255, 255, 255, 0.7), 0 0 8px rgba(255, 255, 255, 0.9);
}
.app-card {
  background-color: rgba(18, 18, 18, 255);
  border: 1px solid rgba(18, 18, 18, 255);
}
.sidebar-card-body {
  background-color: rgba(18, 18, 18, 255);
  border: 1px solid rgba(18, 18, 18, 255);
}

.see-more:hover {
  color: blue;
}

.cursor-pointer {
  cursor: pointer;
}

.text-primary-color {
  color: #d1d5db;
}

.text-grey-color {
  color: #959595 !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  display: none !important;
}

a{
  text-decoration: none;
}

.card-body {
  backdrop-filter: blur(15px) saturate(102%);
  -webkit-backdrop-filter: blur(15px) saturate(102%);
  background-color: rgba(26, 26, 26, 0.85);
  border-radius: 3px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 10px;
  color: #959595 ;
}

.logo-img{
  width: 48px !important;
  height: 48px !important;
  background-color: white;
}

.profile-card-body {
  height: 45vh;
}
.hello-fnt{
  font-size: 48px;
  font-weight: 700;
}
.fnt-showmore-value{
font-weight: bold;
}
.fnt-showmore-key{
  font-weight: bold;
}
.instituion-fnt{
  font-size: 16px;
  font-weight: 600;
}
.intro-content{
 height: 55vh;
}
/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .intro-header {
    height: 14vh !important;
  }
  .intro-content{
    height: 70vh;
  }
  .profile-card-body {
    height: 60vh;
  }
  .hello-fnt{
    font-size: 30px;
    font-weight: 700;
  }
  .fnt-showmore-value{
    font-size: 12px;
    font-weight: 400;
  }
  .fnt-showmore-key{
    font-size: 15px;
    font-weight: 500;
  }
  .instituion-fnt{
    font-size: 16px;
    font-weight: 600;
  }
}


.copy-icon {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease-in-out; /* Smooth scaling */
  color: #959595;
}

.copy-icon:hover {
  transform: scale(1.2); /* Scale up on hover */
}
.contact-key{
  color:rgb(45, 44, 44)
}